@font-face {
    font-family: 'Hotel';
    src: url('./assets/fonts/Garamond/AGaramondPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hotel';
    src: url('./assets/fonts/Garamond/AGaramondPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Hotel';
    src: url('./assets/fonts/Garamond/AGaramondPro-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Hotel';
    src: url('./assets/fonts/Garamond/AGaramondPro-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}